body, html {

  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.choices .choice{
  width: 6rem;
  height: 6rem;
  border-right: solid 2px black;
 
}
.choices div:last-child{
  border: 0;
}
/* .active:hover{
  transform: scale(1.1);
} */
.wrong{
  background-color: grey;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/1200px-Red_X.svg.png');
  background-size: 100% 100%;
}
.RGB {
  
  width: fit-content; 
  font-family: Impact;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0e/Red-green-blue_flag.svg");
  background-size: 100% 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
 

}
#gameContainer{
  -webkit-transition: background-Color 0.15s ease-in-out;
  transition: background-Color 0.15s ease-in-out;
}